<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.talend.core.components_provider">
		<ComponentsProvider
		    id="org.talend.designer.esb.components.rs.consumer.ComponentsProvider"
		    class="org.talend.designer.esb.components.rs.consumer.ComponentsProvider"
		    folderName="components" />
	</extension>
	<extension point="org.talend.core.runtime.librariesNeeded">

		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-cxf-core}"
		    id="cxf-core"
		    mvn_uri="mvn:org.apache.cxf/cxf-core/${cxf.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-cxf-core}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-woodstox-core}"
		    id="woodstox-core"
		    mvn_uri="mvn:com.fasterxml.woodstox/woodstox-core/${woodstox-core.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-woodstox-core}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-stax2-api}"
		    id="stax2-api"
		    mvn_uri="mvn:org.codehaus.woodstox/stax2-api/4.2.1"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-stax2-api}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-xmlschema-core}"
		    id="xmlschema-core"
		    mvn_uri="mvn:org.apache.ws.xmlschema/xmlschema-core/2.2.5"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-xmlschema-core}"
		    bundleID="" />

		<libraryNeededGroup
			description="cxf-core"
			id="cxf-core"
			name="cxf-core">
		    <library id="cxf-core" />
		    <library id="woodstox-core" />
		    <library id="stax2-api" />
		    <library id="xmlschema-core" />
		    <library id="jakarta.xml.bind-api" />
		</libraryNeededGroup>

		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-cxf-rt-bindings-soap}"
		    id="cxf-rt-bindings-soap"
		    mvn_uri="mvn:org.apache.cxf/cxf-rt-bindings-soap/${cxf.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-cxf-rt-bindings-soap}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-cxf-rt-wsdl}"
		    id="cxf-rt-wsdl"
		    mvn_uri="mvn:org.apache.cxf/cxf-rt-wsdl/${cxf.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-cxf-rt-wsdl}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="wsdl4j-1.6.3.jar"
		    id="wsdl4j"
		    mvn_uri="mvn:wsdl4j/wsdl4j/1.6.3"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/wsdl4j-1.6.3.jar"
		    bundleID="" />
		<!--TODO: libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-asm}"
		    id="asm"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-asm}"
		    bundleID="" /-->
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-cxf-rt-databinding-jaxb}"
		    id="cxf-rt-databinding-jaxb"
		    mvn_uri="mvn:org.apache.cxf/cxf-rt-databinding-jaxb/${cxf.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-cxf-rt-databinding-jaxb}"
		    bundleID="" />

		<libraryNeededGroup
			description="cxf-rt-bindings-soap"
			id="cxf-rt-bindings-soap"
			name="cxf-rt-bindings-soap">
		    <library id="cxf-rt-bindings-soap" />
		    <library id="cxf-rt-wsdl" />
		    <library id="wsdl4j" />
		    <!-- TODO: library id="asm" /-->
		    <library id="cxf-rt-databinding-jaxb" />
		    <!-- TODO: library id="jaxb-impl" />
		    <library id="jaxb-core" /-->
		</libraryNeededGroup>

		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-cxf-rt-ws-policy}"
		    id="cxf-rt-ws-policy"
		    mvn_uri="mvn:org.apache.cxf/cxf-rt-ws-policy/${cxf.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-cxf-rt-ws-policy}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-neethi}"
		    id="neethi"
		    mvn_uri="mvn:org.apache.neethi/neethi/3.1.1"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-neethi}"
		    bundleID="" />

		<libraryNeededGroup
			description="cxf-rt-ws-policy"
			id="cxf-rt-ws-policy"
			name="cxf-rt-ws-policy">
		    <library id="cxf-rt-ws-policy" />
		    <library id="neethi" />
		    <library id="wsdl4j" />
		</libraryNeededGroup>

		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-cxf-rt-frontend-jaxws}"
		    id="cxf-rt-frontend-jaxws"
		    mvn_uri="mvn:org.apache.cxf/cxf-rt-frontend-jaxws/${cxf.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-cxf-rt-frontend-jaxws}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="xml-resolver-1.2.jar"
		    id="xml-resolver"
		    mvn_uri="mvn:xml-resolver/xml-resolver/1.2"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/xml-resolver-1.2.jar"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-cxf-rt-bindings-xml}"
		    id="cxf-rt-bindings-xml"
		    mvn_uri="mvn:org.apache.cxf/cxf-rt-bindings-xml/${cxf.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-cxf-rt-bindings-xml}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-cxf-rt-frontend-simple}"
		    id="cxf-rt-frontend-simple"
		    mvn_uri="mvn:org.apache.cxf/cxf-rt-frontend-simple/${cxf.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-cxf-rt-frontend-simple}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-cxf-rt-ws-addr}"
		    id="cxf-rt-ws-addr"
		    mvn_uri="mvn:org.apache.cxf/cxf-rt-ws-addr/${cxf.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-cxf-rt-ws-addr}"
		    bundleID="" />

		<libraryNeededGroup
			description="cxf-rt-frontend-jaxws"
			id="cxf-rt-frontend-jaxws"
			name="cxf-rt-frontend-jaxws">
		    <library id="cxf-rt-frontend-jaxws" />
		    <library id="xml-resolver" />
		    <group id="cxf-rt-bindings-soap" />
		    <library id="cxf-rt-bindings-xml" />
		    <library id="cxf-rt-frontend-simple" />
		    <library id="cxf-rt-ws-addr" />
		    <group id="cxf-rt-ws-policy" />
		    <!-- its not a part of feature but used together -->
		    <library id="cxf-rt-transports-http" />
		</libraryNeededGroup>

		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-spring-context}"
		    id="spring-context"
		    mvn_uri="mvn:org.springframework/spring-context/${spring.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-spring-context}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-spring-aop}"
		    id="spring-aop"
		    mvn_uri="mvn:org.springframework/spring-aop/${spring.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-spring-aop}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-aopalliance}"
		    id="aopalliance"
		    mvn_uri="mvn:aopalliance/aopalliance/1.0"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-aopalliance}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-spring-beans}"
		    id="spring-beans"
		    mvn_uri="mvn:org.springframework/spring-beans/${spring.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-spring-beans}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-spring-core}"
		    id="spring-core"
		    mvn_uri="mvn:org.springframework/spring-core/${spring.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-spring-core}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="commons-logging-1.2.jar"
		    id="commons-logging"
		    mvn_uri="mvn:commons-logging/commons-logging/1.2"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/commons-logging-1.2.jar"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-spring-expression}"
		    id="spring-expression"
		    mvn_uri="mvn:org.springframework/spring-expression/${spring.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-spring-expression}"
		    bundleID="" />

		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-spring-web}"
		    id="spring-web"
		    mvn_uri="mvn:org.springframework/spring-web/${spring.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-spring-web}"
		    bundleID="" />

		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-spring-webmvc}"
		    id="spring-webmvc"
		    mvn_uri="mvn:org.springframework/spring-webmvc/${spring.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-spring-webmvc}"
		    bundleID="" />

		<libraryNeededGroup
			description="spring-context"
			id="spring-context"
			name="spring-context">
		    <library id="spring-context" />
		    <library id="spring-aop" />
		    <library id="spring-beans" />
		    <library id="spring-core" />
		    <library id="spring-expression" />
		    <library id="spring-web" />
		    <library id="spring-webmvc" />
		    <library id="aopalliance" />
		    <library id="commons-logging" />
		</libraryNeededGroup>

		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-cxf-rt-transports-http-jetty}"
		    id="cxf-rt-transports-http-jetty"
		    mvn_uri="mvn:org.apache.cxf/cxf-rt-transports-http-jetty/${cxf.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-cxf-rt-transports-http-jetty}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-cxf-rt-transports-http}"
		    id="cxf-rt-transports-http"
		    mvn_uri="mvn:org.apache.cxf/cxf-rt-transports-http/${cxf.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-cxf-rt-transports-http}"
		    bundleID="" />

		<libraryNeededGroup
			description="cxf-rt-transports-http-jetty"
			id="cxf-rt-transports-http-jetty"
			name="cxf-rt-transports-http-jetty">
		    <library id="cxf-rt-transports-http-jetty" />
		    <library id="cxf-rt-transports-http" />
		    <library id="jetty-all" />
		</libraryNeededGroup>

		<libraryNeeded context="plugin:org.apache.httpcomponents.httpclient"
		    name="org.apache.httpcomponents.httpclient_4.5.13.jar"
		    id="httpclient"
		    mvn_uri="mvn:org.apache.httpcomponents/httpclient/4.5.13"
		    uripath="platform:/plugin/org.talend.libraries.apache.http/lib/httpclient-4.5.13.jar"
		    bundleID="" />
		<libraryNeeded context="plugin:org.apache.httpcomponents.httpcore"
		    name="org.apache.httpcomponents.httpcore_4.4.13.jar"
		    id="httpcore"
		    mvn_uri="mvn:org.apache.httpcomponents/httpcore/4.4.13"
		    uripath="platform:/plugin/org.talend.libraries.apache.http/lib/httpcore-4.4.13.jar"
		    bundleID="" />

		<libraryNeededGroup
			description="httpclient"
			id="httpclient"
			name="httpclient">
		    <library id="httpclient" />
		    <library id="httpcore" />
		    <library id="commons-codec-1.15" />
		    <library id="commons-logging" />
		</libraryNeededGroup>

		<!--libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-cxf-rt-transports-http-hc}"
		    id="cxf-rt-transports-http-hc"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-cxf-rt-transports-http-hc}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-httpcore-nio}"
		    id="httpcore-nio"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-httpcore-nio}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-httpasyncclient}"
		    id="httpasyncclient"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-httpasyncclient}"
		    bundleID="" />
		<libraryNeededGroup
			description="cxf-rt-transports-http-hc"
			id="cxf-rt-transports-http-hc"
			name="cxf-rt-transports-http-hc">
		    <library id="cxf-rt-transports-http-hc" />
		    <group id="slf4j" />
		    <group id="httpclient" />
		    <library id="httpcore-nio" />
		    <library id="httpasyncclient" />
		</libraryNeededGroup-->

		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-cxf-rt-rs-client}"
		    id="cxf-rt-rs-client"
		    mvn_uri="mvn:org.apache.cxf/cxf-rt-rs-client/${cxf.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-cxf-rt-rs-client}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-cxf-rt-rs-security-oauth2}"
		    id="cxf-rt-rs-security-oauth2"
		    mvn_uri="mvn:org.apache.cxf/cxf-rt-rs-security-oauth2/${cxf.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-cxf-rt-rs-security-oauth2}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-cxf-rt-features-logging}"
		    id="cxf-rt-features-logging"
		    mvn_uri="mvn:org.apache.cxf/cxf-rt-features-logging/${cxf.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-cxf-rt-features-logging}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-cxf-rt-frontend-jaxrs}"
		    id="cxf-rt-frontend-jaxrs"
		    mvn_uri="mvn:org.apache.cxf/cxf-rt-frontend-jaxrs/${cxf.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-cxf-rt-frontend-jaxrs}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-javax.ws.rs-api}"
		    id="javax.ws.rs-api"
		    mvn_uri="mvn:javax.ws.rs/javax.ws.rs-api/2.1"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-javax.ws.rs-api}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-cxf-rt-rs-extension-providers}"
		    id="cxf-rt-rs-extension-providers"
		    mvn_uri="mvn:org.apache.cxf/cxf-rt-rs-extension-providers/${cxf.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-cxf-rt-rs-extension-providers}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-jettison}"
		    id="jettison"
		    mvn_uri="mvn:org.codehaus.jettison/jettison/${jettison.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-jettison}"
		    bundleID="" />

		<libraryNeededGroup
			description="cxf-rt-rs-client"
			id="cxf-rt-rs-client"
			name="cxf-rt-rs-client">
		    <library id="cxf-rt-rs-client" />
		    <library id="cxf-rt-transports-http" />
		    <library id="cxf-rt-frontend-jaxrs" />
		    <library id="cxf-rt-features-logging" />
		    <library id="cxf-rt-rs-security-oauth2" />
		    <library id="javax.ws.rs-api" />
		    <library id="jakarta.annotation-api" />
		    <!-- its not a part of feature but used together -->
		    <library id="cxf-rt-rs-extension-providers" />
		    <library id="jettison" />
		</libraryNeededGroup>

		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-cxf-rt-rs-service-description}"
		    id="cxf-rt-rs-service-description"
		    mvn_uri="mvn:org.apache.cxf/cxf-rt-rs-service-description/${cxf.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-cxf-rt-rs-service-description}"
		    bundleID="" />

		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="slf4j-api-${slf4j-api.version}.jar"
		    id="slf4j-api"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/slf4j-api-${slf4j-api.version}.jar"
		    mvn_uri="mvn:org.slf4j/slf4j-api/${slf4j-api.version}"
		    bundleID="" />

		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-cxf-rt-ws-security}"
		    id="cxf-rt-ws-security"
		    mvn_uri="mvn:org.apache.cxf/cxf-rt-ws-security/${cxf.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-cxf-rt-ws-security}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-cxf-rt-security-saml}"
		    id="cxf-rt-security-saml"
		    mvn_uri="mvn:org.apache.cxf/cxf-rt-security-saml/${cxf.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-cxf-rt-security-saml}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-cxf-rt-security}"
		    id="cxf-rt-security"
		    mvn_uri="mvn:org.apache.cxf/cxf-rt-security/${cxf.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-cxf-rt-security}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-wss4j-ws-security-common}"
		    id="wss4j-ws-security-common"
		    mvn_uri="mvn:org.apache.wss4j/wss4j-ws-security-common/${wss4j.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-wss4j-ws-security-common}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-xmlsec}"
		    id="xmlsec"
		    mvn_uri="mvn:org.apache.santuario/xmlsec/${xmlsec.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-xmlsec}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="commons-codec-1.15.jar"
		    id="commons-codec-1.15"
		    mvn_uri="mvn:commons-codec/commons-codec/1.15"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/commons-codec-1.15.jar"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-opensaml-saml-impl}"
		    id="opensaml-saml-impl"
		    mvn_uri="mvn:org.opensaml/opensaml-saml-impl/${opensaml.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-opensaml-saml-impl}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-opensaml-profile-api}"
		    id="opensaml-profile-api"
		    mvn_uri="mvn:org.opensaml/opensaml-profile-api/${opensaml.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-opensaml-profile-api}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-opensaml-core}"
		    id="opensaml-core"
		    mvn_uri="mvn:org.opensaml/opensaml-core/${opensaml.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-opensaml-core}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-opensaml-saml-api}"
		    id="opensaml-saml-api"
		    mvn_uri="mvn:org.opensaml/opensaml-saml-api/${opensaml.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-opensaml-saml-api}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-opensaml-xmlsec-api}"
		    id="opensaml-xmlsec-api"
		    mvn_uri="mvn:org.opensaml/opensaml-xmlsec-api/${opensaml.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-opensaml-xmlsec-api}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-opensaml-soap-api}"
		    id="opensaml-soap-api"
		    mvn_uri="mvn:org.opensaml/opensaml-soap-api/${opensaml.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-opensaml-soap-api}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-opensaml-security-impl}"
		    id="opensaml-security-impl"
		    mvn_uri="mvn:org.opensaml/opensaml-security-impl/${opensaml.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-opensaml-security-impl}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-opensaml-security-api}"
		    id="opensaml-security-api"
		    mvn_uri="mvn:org.opensaml/opensaml-security-api/${opensaml.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-opensaml-security-api}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="cryptacular-${cryptacular.version}.jar"
		    id="cryptacular"
		    mvn_uri="mvn:org.cryptacular/cryptacular/${cryptacular.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/cryptacular-${cryptacular.version}.jar"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="bcprov-jdk18on-${bouncycastle.version}.jar"
		    id="bcprov-jdk18on"
		    mvn_uri="mvn:org.bouncycastle/bcprov-jdk18on/${bouncycastle.version}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-opensaml-xmlsec-impl}"
		    id="opensaml-xmlsec-impl"
		    mvn_uri="mvn:org.opensaml/opensaml-xmlsec-impl/${opensaml.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-opensaml-xmlsec-impl}"
		    bundleID="" />
		<!--libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-java-support}"
		    id="java-support"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-java-support}"
		    bundleID="" /-->
		<!-- ${tesb-guava} -->
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="guava-${guava.version}.jar"
		    id="guava"
		    mvn_uri="mvn:com.google.guava/guava/${guava.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/guava-${guava.version}.jar"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="joda-time-${joda-time.version}.jar"
		    id="joda-time"
		    mvn_uri="mvn:joda-time/joda-time/${joda-time.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/joda-time-${joda-time.version}.jar"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-opensaml-xacml-impl}"
		    id="opensaml-xacml-impl"
		    mvn_uri="mvn:org.opensaml/opensaml-xacml-impl/${opensaml.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-opensaml-xacml-impl}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-opensaml-xacml-api}"
		    id="opensaml-xacml-api"
		    mvn_uri="mvn:org.opensaml/opensaml-xacml-api/${opensaml.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-opensaml-xacml-api}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-opensaml-xacml-saml-impl}"
		    id="opensaml-xacml-saml-impl"
		    mvn_uri="mvn:org.opensaml/opensaml-xacml-saml-impl/${opensaml.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-opensaml-xacml-saml-impl}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-opensaml-xacml-saml-api}"
		    id="opensaml-xacml-saml-api"
		    mvn_uri="mvn:org.opensaml/opensaml-xacml-saml-api/${opensaml.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-opensaml-xacml-saml-api}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-jasypt}"
		    id="jasypt"
		    mvn_uri="mvn:org.jasypt/jasypt/1.9.3"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-jasypt}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-ehcache}"
		    id="ehcache"
		    mvn_uri="mvn:org.ehcache/ehcache/3.9.3"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-ehcache}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-wss4j-ws-security-dom}"
		    id="wss4j-ws-security-dom"
		    mvn_uri="mvn:org.apache.wss4j/wss4j-ws-security-dom/${wss4j.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-wss4j-ws-security-dom}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-wss4j-policy}"
		    id="wss4j-policy"
		    mvn_uri="mvn:org.apache.wss4j/wss4j-policy/${wss4j.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-wss4j-policy}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-wss4j-ws-security-stax}"
		    id="wss4j-ws-security-stax"
		    mvn_uri="mvn:org.apache.wss4j/wss4j-ws-security-stax/${wss4j.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-wss4j-ws-security-stax}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-wss4j-ws-security-policy-stax}"
		    id="wss4j-ws-security-policy-stax"
		    mvn_uri="mvn:org.apache.wss4j/wss4j-ws-security-policy-stax/${wss4j.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-wss4j-ws-security-policy-stax}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-wss4j-bindings}"
		    id="wss4j-bindings"
		    mvn_uri="mvn:org.apache.wss4j/wss4j-bindings/${wss4j.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-wss4j-bindings}"
		    bundleID="" />

		<libraryNeededGroup
			description="cxf-rt-ws-security"
			id="cxf-rt-ws-security"
			name="cxf-rt-ws-security">
		    <library id="cxf-rt-ws-security" />
		    <group id="cxf-rt-bindings-soap" />
		    <library id="cxf-rt-security-saml" />
		    <library id="cxf-rt-security" />
		    <library id="wss4j-ws-security-common" />
		    <library id="xmlsec" />
		    <library id="commons-codec-1.15" />
		    <library id="opensaml-saml-impl" />
		    <library id="opensaml-profile-api" />
		    <library id="opensaml-core" />
		    <library id="opensaml-saml-api" />
		    <library id="opensaml-xmlsec-api" />
		    <library id="opensaml-soap-api" />
		    <library id="opensaml-security-impl" />
		    <library id="opensaml-security-api" />
		    <library id="cryptacular" />
		    <library id="bcprov-jdk18on" />
		    <library id="opensaml-xmlsec-impl" />
		    <!--library id="java-support" /-->
		    <library id="guava" />
		    <library id="joda-time" />
		    <library id="opensaml-xacml-impl" />
		    <library id="opensaml-xacml-api" />
		    <library id="opensaml-xacml-saml-impl" />
		    <library id="opensaml-xacml-saml-api" />
		    <library id="jasypt" />
		    <!--library id="geronimo-javamail_1.4_spec" /-->
		    <library id="ehcache" />
		    <library id="slf4j-api" />
		    <library id="wss4j-ws-security-dom" />
		    <library id="wss4j-policy" />
		    <library id="neethi" />
		    <library id="wss4j-ws-security-stax" />
		    <library id="wss4j-bindings" />
		    <library id="wss4j-ws-security-policy-stax" />
		</libraryNeededGroup>

		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="locator-${tesb.version}.jar"
		    id="locator"
		    mvn_uri="mvn:org.talend.esb/locator/${tesb.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/locator-${tesb.version}.jar"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-zookeeper}"
		    id="zookeeper"
		    mvn_uri="mvn:org.apache.zookeeper/zookeeper/${zookeeper.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-zookeeper}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-zookeeper-jute}"
		    id="zookeeper-jute"
		    mvn_uri="mvn:org.apache.zookeeper/zookeeper-jute/${zookeeper.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-zookeeper-jute}"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="cxf-rt-features-clustering-${cxf.version}.jar"
		    id="cxf-rt-features-clustering"
		    mvn_uri="mvn:org.apache.cxf/cxf-rt-features-clustering/${cxf.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/cxf-rt-features-clustering-${cxf.version}.jar"
		    bundleID="" />

		<libraryNeededGroup
			description="locator"
			id="locator"
			name="locator">
		    <library id="locator" />
		    <library id="slf4j-api" />
		    <library id="camel-core" />
		    <library id="zookeeper" />
		    <library id="zookeeper-jute" />
		    <library id="cxf-rt-features-clustering" />
		    <library id="pax-cdi-api" />
		    <library id="org.apache.servicemix.bundles.javax-inject" />
		    <group id="cxf-rt-ws-policy" />
		    <group id="cxf-rt-ws-security" />
		    <group id="osgi" />
		</libraryNeededGroup>

		<libraryNeededGroup
			description="osgi"
			id="osgi"
			name="osgi">
		    <library id="org.osgi.core" />
				<library id="org.osgi.compendium" />
		</libraryNeededGroup>

		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-org.osgi.core}"
		    id="org.osgi.core"
		    mvn_uri="mvn:org.osgi/org.osgi.core/4.3.1"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-org.osgi.core}"
		    bundleID="" />

		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-org.osgi.compendium}"
		    id="org.osgi.compendium"
		    mvn_uri="mvn:org.osgi/org.osgi.compendium/4.3.1"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-org.osgi.compendium}"
		    bundleID="" />

		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-pax-cdi-api}"
		    id="pax-cdi-api"
		    mvn_uri="mvn:org.ops4j.pax.cdi/pax-cdi-api/1.0.0.RC1"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-pax-cdi-api}"
		    bundleID="" />

		   <libraryNeeded context="plugin:org.talend.libraries.esb"
			name="${tesb-org.apache.servicemix.bundles.javax-inject}"
			id="org.apache.servicemix.bundles.javax-inject"
		    mvn_uri="mvn:org.apache.servicemix.bundles/org.apache.servicemix.bundles.javax-inject/1_2"
			uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-org.apache.servicemix.bundles.javax-inject}"
			bundleID="" />

		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="sam-agent-${tesb.version}.jar"
		    id="sam-agent"
		    mvn_uri="mvn:org.talend.esb/sam-agent/${tesb.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/sam-agent-${tesb.version}.jar"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="sam-common-${tesb.version}.jar"
		    id="sam-common"
		    mvn_uri="mvn:org.talend.esb/sam-common/${tesb.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/sam-common-${tesb.version}.jar"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="commons-lang-2.6.jar"
		    id="commons-lang"
		    mvn_uri="mvn:commons-lang/commons-lang/2.6"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/commons-lang-2.6.jar"
		    bundleID="" />

		<libraryNeededGroup
			description="sam-agent"
			id="sam-agent"
			name="sam-agent">
		    <group id="cxf-rt-frontend-jaxws" />
		    <library id="sam-agent" />
		    <library id="sam-common" />
		    <library id="commons-lang" />
		    <group id="osgi" />
		    <library id="pax-cdi-api" />
		    <library id="org.apache.servicemix.bundles.javax-inject" />
		</libraryNeededGroup>

		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="correlationid-policy-${tesb.version}.jar"
		    id="correlationid-policy"
		    mvn_uri="mvn:org.talend.esb.policies/correlationid-policy/${tesb.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/correlationid-policy-${tesb.version}.jar"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="commons-jxpath-1.3.jar"
		    id="commons-jxpath"
		    mvn_uri="mvn:commons-jxpath/commons-jxpath/1.3"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/commons-jxpath-1.3.jar"
		    bundleID="" />

		<libraryNeededGroup
			description="correlationid-policy"
			id="correlationid-policy"
			name="correlationid-policy">
		    <group id="cxf-rt-ws-policy" />
		    <group id="cxf-rt-bindings-soap" />
		    <library id="correlationid-policy" />
		    <library id="commons-jxpath" />
		</libraryNeededGroup>

		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="security-common-${tesb.version}.jar"
		    id="security-common"
		    mvn_uri="mvn:org.talend.esb/security-common/${tesb.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/security-common-${tesb.version}.jar"
		    bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="${tesb-cxf-rt-rs-security-xml}"
		    id="cxf-rt-rs-security-xml"
		    mvn_uri="mvn:org.apache.cxf/cxf-rt-rs-security-xml/${cxf.version}"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-cxf-rt-rs-security-xml}"
		    bundleID="" />

		<libraryNeededGroup
			description="security-common"
			id="security-common"
			name="security-common">
		    <library id="security-common" />
		    <group id="cxf-rt-rs-client" />
		    <group id="cxf-rt-ws-security" />
		</libraryNeededGroup>

		<!-- Java 11 missing jars begin-->
		<libraryNeededGroup
			description="esb-java-11-group"
			id="esb-java-11-group"
			name="esb-java-11-group">
		    <library id="istack-commons-runtime" />
		    <library id="jakarta.xml.bind-api" />
		    <library id="jakarta.xml.soap-api" />
		    <library id="javax.activation" />
		    <library id="jakarta.annotation-api" />
		    <library id="jaxb-runtime" />
		    <library id="stax-ex" />
		    <library id="txw2" />
		    <library id="jakarta.jws-api" />
		    <library id="org.apache.servicemix.specs.jaxws-api" />
		</libraryNeededGroup>
		<libraryNeeded context="plugin:org.talend.libraries.esb"
			       name="istack-commons-runtime-3.0.10.jar"
			       id="istack-commons-runtime"
			       mvn_uri="mvn:com.sun.istack/istack-commons-runtime/3.0.10"
			       uripath="platform:/plugin/org.talend.libraries.esb/lib/istack-commons-runtime-3.0.10.jar"
			       bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
			       name="jakarta.xml.bind-api-2.3.3.jar"
			       id="jakarta.xml.bind-api"
			       mvn_uri="mvn:jakarta.xml.bind/jakarta.xml.bind-api/2.3.3"
			       uripath="platform:/plugin/org.talend.libraries.esb/lib/jakarta.xml.bind-api-2.3.3.jar"
			       bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
			       name="jakarta.xml.soap-api-1.4.1.jar"
			       id="jakarta.xml.soap-api"
			       mvn_uri="mvn:jakarta.xml.soap/jakarta.xml.soap-api/1.4.1"
			       uripath="platform:/plugin/org.talend.libraries.esb/lib/jakarta.xml.soap-api-1.4.1.jar"
			       bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
			       name="javax.activation-1.2.0.jar"
			       id="javax.activation"
			       mvn_uri="mvn:com.sun.activation/javax.activation/1.2.0"
			       uripath="platform:/plugin/org.talend.libraries.esb/lib/javax.activation-1.2.0.jar"
			       bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
			       name="jakarta.annotation-api-1.3.5.jar"
			       id="jakarta.annotation-api"
			       mvn_uri="mvn:jakarta.annotation/jakarta.annotation-api/1.3.5"
			       uripath="platform:/plugin/org.talend.libraries.esb/lib/jakarta.annotation-api-1.3.5.jar"
			       bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
			       name="jaxb-runtime-2.3.2.jar"
			       id="jaxb-runtime"
			       mvn_uri="mvn:org.glassfish.jaxb/jaxb-runtime/2.3.2"
			       uripath="platform:/plugin/org.talend.libraries.esb/lib/jaxb-runtime-2.3.2.jar"
			       bundleID="" />
		<!-- libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="org.apache.servicemix.bundles.saaj-impl-1.5.1_1.jar"
		    id="org.apache.servicemix.bundles.saaj-impl-1.5.1_1"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/org.apache.servicemix.bundles.saaj-impl-1.5.1_1.jar"
		    bundleID="" / -->
		<!-- libraryNeeded context="plugin:org.talend.libraries.esb"
		    name="org.apache.servicemix.bundles.xerces-2.12.0_1.jar"
		    id="org.apache.servicemix.bundles.xerces-2.12.0_1"
		    uripath="platform:/plugin/org.talend.libraries.esb/lib/org.apache.servicemix.bundles.xerces-2.12.0_1.jar"
		    bundleID="" / -->
		<libraryNeeded context="plugin:org.talend.libraries.esb"
			       name="stax-ex-1.8.3.jar"
			       id="stax-ex"
			       mvn_uri="mvn:org.jvnet.staxex/stax-ex/1.8.3"
			       uripath="platform:/plugin/org.talend.libraries.esb/lib/stax-ex-1.8.3.jar"
			       bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
			       name="txw2-2.3.3.jar"
			       id="txw2"
			       mvn_uri="mvn:org.glassfish.jaxb/txw2/2.3.3"
			       uripath="platform:/plugin/org.talend.libraries.esb/lib/txw2-2.3.3.jar"
			       bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
			       name="jakarta.jws-api-2.1.0.jar"
			       id="jakarta.jws-api"
			       mvn_uri="mvn:jakarta.jws/jakarta.jws-api/2.1.0"
			       uripath="platform:/plugin/org.talend.libraries.esb/lib/jakarta.jws-api-2.1.0.jar"
			       bundleID="" />
		<libraryNeeded context="plugin:org.talend.libraries.esb"
			       name="org.apache.servicemix.specs.jaxws-api-2.2-2.9.0.jar"
			       id="org.apache.servicemix.specs.jaxws-api"
			       mvn_uri="mvn:org.apache.servicemix.specs/org.apache.servicemix.specs.jaxws-api-2.2/2.9.0"
			       uripath="platform:/plugin/org.talend.libraries.esb/lib/org.apache.servicemix.specs.jaxws-api-2.2-2.9.0.jar"
			       bundleID="" />
		<!-- Java 11 missing jars end-->

	</extension>
</plugin>
